
#table {
  border-collapse: collapse; 
  margin: 100px auto;
  box-shadow: 0 0 90px #451952;
}
td {
  width: 100px;
  height: 100px;
  border: 6px solid #aaa;
  text-align: center;
  color: purple;
  font: bold 3em Arial;
}